<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845731035159-3n3svd1roqhenn9tesv7q34vvsdk3u8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845731035159-3n3svd1roqhenn9tesv7q34vvsdk3u8d</string>
	<key>API_KEY</key>
	<string>AIzaSyDFYrXqBvTkv4qZQD1pQd90bd6RhTc16BE</string>
	<key>GCM_SENDER_ID</key>
	<string>845731035159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iasdMyadmin</string>
	<key>PROJECT_ID</key>
	<string>iasd-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>iasd-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845731035159:ios:9775122103450a53b00452</string>
	<key>DATABASE_URL</key>
	<string>https://iasd-admin-default-rtdb.firebaseio.com</string>
</dict>
</plist>